.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.varigheit {
  margin-top: 1vh;
  margin-left: 1vmin;
  text-align: left;
}

.reiserute td, .reiserute th {
  padding-left: 5vh;
}

.reiserute tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.reiserute tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.App-link {
  color: #61dafb;
}

select {
  margin: 1vh 1vh 1vh 1vh;
}